html {
	height: 100%; 
	width: 100%;
}

body {
	z-index: 1; 
	height: 100%; 
	width: 100%; 
	background-position: center; 
	background-attachment: fixed;
}

.itemlist {
	border-radius: 6px; 
	background-color: rgba(0, 0, 0, .4); 
	padding: 20px;
	box-sizing: border-box;
}

.itemlist a {
	color: #fff;
}

#wrapper {
	font-size: 80px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 3px;
	width: fit-content;
	height: auto;
	max-width: 80%;
	max-height: 85%;
	overflow: auto;
	display: flex;
	overflow-y: scroll;
}

#wrapper a {
	transition: .3s all;
}

#wrapper a:hover {
	color: #c4c4c4;
}

#wrapper .link {
	display: inline-block;
	width: 33%;
	float: left;
	text-align: center;
}

#wrapper::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

#wrapper::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.4);
	background-color: rgba(255,255,255,.2);
}