html {height: 100%; width: 100%;}
body {font-family: sans-serif; background: url("../img/sayagata-400px.png") repeat; z-index: 1; height: 100%; width: 100%; background-position: center; background-attachment: fixed;}

.hidden {display: none;}
.menu-item {display: none; z-index: 3;}

#bg-overlay {    
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	width: 100%;
	height: 100%; 
	background-color: #fff; 
	opacity: 0; 
	z-index: 2; 
	transition: .3s all;
}

body.menu-shown #bg-overlay {opacity: 0.3;}

#mobile-menu-wrap {z-index: 3; position: absolute; top: 15px; left: 15px;}
#mobile-menu-wrap a {font-size: 20px;}

.bg {border-radius: 5px; background-color: rgba(0, 0, 0, .5); padding: 20px;}
.bg a {color: #fff;}

#links-wrap {
	font-size: 80px;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	padding-bottom: 3px;

	width: fit-content;
	height: auto;

	max-width: 75%;
	max-height: 85%;

	overflow: auto;
	display: flex;
}

#links-wrap a {transition: .3s all;}
#links-wrap a:hover {color: #d3d3d3;}
#links-wrap .link {display: inline-block; width: 33%; float: left; text-align: center;}

#pic-info-wrap {color: #fff; font-size: 16px; position: absolute; bottom: 15px; left: 15px;}
#pic-info-wrap a:hover, #pic-info-wrap a:active {color: #fff; text-decoration: none;}

#clock-wrap {color: #fff; font-size: 30px; position: absolute; top: 15px; right: 15px;}
