html {
	height: 100%; 
	width: 100%;
}

body {
	font-family: sans-serif; 
	z-index: 1; 
	height: 100%; 
	width: 100%; 
	background-position: center; 
	background-attachment: fixed;
}

.bg {
	border-radius: 6px; 
	background-color: rgba(0, 0, 0, .4); 
	padding: 20px;
}

.bg a {
	color: #fff;
}

#links-wrap {
	font-size: 80px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 3px;
	width: fit-content;
	height: auto;
	max-width: 80%;
	max-height: 85%;
	overflow: auto;
	display: flex;
}

#links-wrap a {
	transition: .3s all;
}

#links-wrap a:hover {
	color: #c4c4c4;
}

#links-wrap .link {
	display: inline-block;
	width: 33%;
	float: left;
	text-align: center;
}

#links-wrap::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

#links-wrap::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.4);
	background-color: rgba(255,255,255,.2);
}